.listing {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: 20px;
    min-height: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    .card {
        text-decoration: none;
        border-radius: 10px;
        background-color: rgba(var(--color-secondary), 1);
        color: rgba(var(--color-primary), 1);
        padding: 20px 25px;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid rgba(var(--color-primary), 0.1);
        transition: background-color 0.2s;
        backdrop-filter: blur(20px);
        box-shadow:
            inset 0 0 15px hsla(0, 0%, 100%, 0.05),
            0 4px 15px rgba(0, 0, 0, 0.2);

        &:focus {
            background-color: rgba(var(--color-secondary-focus), 0.2);
        }

        @media (hover: hover) {
            &:hover {
                background-color: rgba(var(--color-secondary-hover), 0.4);
            }
        }

        .title {
            font-size: 1.2em;
            margin-bottom: 10px;
            font-weight: 600;
            line-height: 1.2em;
        }
        .description {
            font-size: 0.98em;
            font-weight: 300;
            margin-bottom: 10px;
            line-height: 1.2em;
            color: rgba(var(--color-primary), 0.8);
        }
        .metadata {
            font-size: 0.9em;
            color: rgba(var(--color-primary), 0.8);
        }
    }

    .message {
        display: inline-block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        .title {
            font-weight: 500;
            font-size: 1.3em;
        }
    }
}
