article {
    line-height: 1.4rem;

    h2,
    h3,
    h4,
    h5,
    h6 {
        display: flex;
        margin-block-start: 1.4em;
        margin-block-end: 1em;
    }

    img {
        border: 0;
        border-radius: 10px;
        max-width: 100%;
    }

    .post_header {
        text-align: center;
        .post_date_read {
            color: rgba(140, 141, 158, 1);
        }
        .tag_container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            .tag {
                box-sizing: border-box;
                padding: 10px 15px;
                border-radius: 10px;
                background-color: white;
                color: black;
                font-size: 0.8rem;
            }
        }
    }

    blockquote {
        background-color: white;
        color: #171820;
        padding: 6px 20px;
        border-radius: 6px;
        margin-inline-start: 0;
        margin-inline-end: 0;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    tt,
    code {
        font-family: 'Roboto Mono', monospace;
    }

    code {
        padding: 0 5px;
        border: 1px dotted white;
        border-radius: 2px;
    }

    pre {
        padding: 16px;
        border: 0;
        border-radius: 10px;
        overflow: auto;
        background-color: rgba(39, 42, 45, 1) !important;
        line-height: 1.5em;
        font-size: 0.8rem;

        code {
            filter: saturate(160%);
            padding: 0;
            border: 0;
            border-radius: 0;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    figure {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-inline-start: 20px;
        margin-inline-end: 20px;
        figcaption {
            margin-top: 15px;
            text-align: center;
            color: rgba(186, 186, 186, 1);
            font-size: 0.8rem;
            line-height: 1.2rem;
        }
    }

    .callout {
        color: black;
        background-color: rgba(119, 194, 255, 1);
        padding: 20px 25px;
        border-radius: 10px;
        box-sizing: border-box;

        .callout-title {
            font-weight: bold;
            margin-bottom: 15px;
            font-size: 0.96rem;
        }
        .callout-body {
            line-height: 1.5rem;
            font-size: 0.84rem;
            p:first-of-type {
                margin-block-start: 0;
                margin-block-end: 0;
            }
            a {
                color: black;
            }
            code {
                border-color: black;
            }
        }
    }
    .callout-type-warn {
        background-color: rgba(255, 249, 89, 1);
    }
    .callout-type-important {
        background-color: rgba(255, 84, 84, 1);
    }
}
