article {
    font-size: 1.1em;
    line-height: 1.7em;
    color: rgba(var(--color-article-text), 1);

    h1 {
        font-size: 1.8em;
        line-height: 1.2em;
        font-weight: 800;
    }

    h2 {
        font-size: 1.35em;
    }

    h3 {
        font-size: 1.25em;
    }

    h4 {
        font-size: 1.15em;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        display: flex;
        margin-block-start: 1.4em;
        margin-block-end: 1em;
        font-weight: 700;
        color: rgba(var(--color-primary), 1);
        line-height: 1.3em;
    }

    img {
        border: 0;
        border-radius: 10px;
        max-width: 100%;
    }

    .post_header {
        font-size: 0.9em;
        margin-bottom: 40px;
        text-align: left;
        .post_title {
            color: rgba(var(--color-primary), 1);
            margin-top: 0;
        }
        .post_description {
            color: rgba(200, 200, 200, 1);
            font-size: 1.1em;
            margin-top: -0.8em;
            margin-bottom: 1em;
            line-height: 1.3em;
        }
        .post_date_read {
            display: inline-flex;
            color: rgba(175, 175, 175, 1);
            display: flex;
            gap: 10px;
        }
    }

    .post_image {
        width: 100%;
        margin-bottom: 40px;
    }

    .post_body {
        blockquote {
            background-color: rgba(var(--color-article-block), 0.2);
            color: rgba(var(--color-primary), 1);
            font-size: 0.85em;
            line-height: 1.6em;
            padding: 16px 20px;
            border-radius: 6px;
            margin-inline-start: 0;
            margin-inline-end: 0;
            margin-block-start: 0;
            margin-block-end: 0;
            border-left: 6px solid rgba(var(--color-primary), 1);
            outline: 1px solid rgba(var(--color-primary), 0.1);
            outline-offset: -1px;

            p {
                margin: 0;
            }
        }

        code {
            padding: 0 5px;
            border: 1px dotted rgba(var(--color-primary), 1);
            border-radius: 3px;
        }

        pre {
            padding: 16px 20px;
            border: 1px solid rgba(var(--color-primary), 0.1);
            border-radius: 10px;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.2) !important;
            line-height: 1.7em;
            font-size: 0.92em;
            cursor: text;

            code,
            code > table > tbody > tr > td {
                filter: saturate(200%);
                padding: 0;
                border: 0;
                border-radius: 0;
                background-color: unset;

                mark {
                    display: block;
                    background-color: rgba(254, 252, 232, 0.2);
                    color: rgba(192, 197, 206, 1);
                }
            }

            code > table {
                border-collapse: collapse;
            }

            code > table > tbody > tr {
                td:first-child {
                    column-width: 20px;
                    -webkit-user-select: none;
                    user-select: none;
                    text-align: right;
                    padding-right: 10px;
                    color: rgba(255, 255, 255, 0.5);
                    border-right: 1px solid rgba(255, 255, 255, 0.6);
                }
                td:last-child {
                    padding-left: 15px;
                }
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        img {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        figure {
            margin-top: 30px;
            margin-bottom: 30px;
            margin-inline-start: 20px;
            margin-inline-end: 20px;
            figcaption {
                margin-top: 15px;
                text-align: center;
                color: rgba(var(--color-article-text), 0.85);
                font-size: 0.8em;
                line-height: 1.2em;
            }
        }

        .callout {
            background-color: rgba(119, 194, 255, 0.5);
            border: 1px solid rgba(119, 194, 255, 0.6);
            color: rgba(218, 230, 241, 1);
            padding: 20px 25px;
            border-radius: 10px;
            font-size: 0.87em;
            margin-bottom: 30px;

            .callout-title {
                margin-bottom: 10px;
                display: inline-block;
                font-weight: 600;
                font-size: 1.2em;
            }
            .callout-body {
                line-height: 1.5em;
                p:first-of-type {
                    margin-block-start: 0;
                    margin-block-end: 0;
                }
            }
        }
        .callout-type-warn {
            background-color: rgba(255, 249, 89, 0.5);
            border: 1px solid rgba(255, 249, 89, 0.6);
            color: rgba(238, 238, 215, 1);
        }
        .callout-type-important {
            background-color: rgba(255, 84, 84, 0.5);
            border: 1px solid rgba(255, 84, 84, 0.6);
            color: rgba(244, 226, 226, 1);
        }
    }
}
