@import "fonts";

:root {
    --color-primary: 205, 215, 240;
    --color-secondary: 30, 30, 45;
    --color-secondary-focus: 35, 35, 50;
    --color-secondary-hover: 40, 40, 55;
    --color-accent: 199, 176, 222;
    --color-article-text: 220, 220, 220;
    --color-article-block: 0, 0, 0;
}

::selection {
    color: rgba(var(--color-secondary), 1);
    background-color: rgba(var(--color-accent), 1);
}

html {
    max-width: 100%;
    height: 99%;
    overflow: overlay;
    -webkit-text-size-adjust: 100%;
}

body {
    height: 100%;
    background-color: rgba(var(--color-secondary), 1);
    color: rgba(var(--color-primary), 1);
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    width: 85%;
    font-size: 90%;

    @import "footer";
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    a {
        color: rgba(var(--color-primary), 1);
        text-decoration: none;
        div {
            h1 {
                margin: 0;
            }
        }
    }
}

main {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;

    @import "index";
    @import "post";

    a {
        color: rgba(var(--color-primary), 1);
    }
}
