<div class="callout callout-type-{{type}}">
    <div class="callout-title">
        {% if type == "caution" %}
            Caution
        {% elif type == "important" %}
            Important
        {% elif type == "warning" %}
            Warning
        {% elif type == "note" %}
            Note
        {% elif type == "tip" %}
            Tip
        {% else %}
            Unknown
        {% endif %}
    </div>
    <div class="callout-body">
        {{ body | markdown | safe }}
    </div>
</div>
