<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    {%- set meta_title = config.title -%}
    {%- set meta_description = config.description -%}
    {%- if page is defined -%}
        {%- if page.title %}{% set_global meta_title = page.title %}{% endif -%}
        {%- if page.description %}{% set_global meta_description = page.description %}{% endif -%}
    {%- endif %}
    {%- set rss_url = get_url(path="rss.xml", trailing_slash=false) %}
    <meta charset="utf-8">

    {% block title %}
    <title>{{ config.title }}</title>
    {% endblock title %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ get_url(path="main.css", cachebust=true) | safe }}">

    <meta property="og:url" content="{{ config.extra.base_domain | safe }}{% if page is defined and page.path %}{{ page.path | safe}}{% endif %}">
    <meta property="og:site_name" content="{{ config.title }}">

    <meta name="twitter:title" content="{{ meta_title }}">
    <meta property="og:title" content="{{ meta_title }}">

    <meta name="robots" content="max-snippet:0">
    <meta name="description" content="{{ meta_description | safe }}">
    <meta name="twitter:description" content="{{ meta_description | safe }}">
    <meta property="og:description" content="{{ meta_description | safe }}">

    {% block meta_content %}
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    {% endblock meta_content %}

    <meta name="theme-color" content="#18182a">
    <link rel="icon" href="{{ get_url(path="images/favicon.png", cachebust=true) }}">
    <link rel="apple-touch-icon" href="{{ get_url(path="images/favicon.png", cachebust=true) }}">

    {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ rss_url }}">
    {% endblock %}
</head>
<body>
    <header>
        {% block nav %}
        <nav>
            <a class="title" href="/">
                <h1>{{ config.title }}</h1>
                <span class="tagline">{{ config.description }}</span>
            </a>
            <span class="options">
                <a aria-label="Link to main website" href="{{ config.extra.main_website }}">main website</a>
                <span class="separator">•</span>
                <a aria-label="Link to Github account" href="https://github.com/{{ config.extra.github_account }}">github</a>
                <span class="separator">•</span>
                <a aria-label="Link to RSS feed" href="{{ rss_url }}" rel="alternate" type="application/rss+xml">rss</a>
            </span>
        </nav>
        {% endblock nav %}
    </header>
    <main>
        {% block content %}
        Nothing here
        {% endblock content %}
    </main>
    <footer>
        <div class="content">
            <div class="label">made with <span class="heart">❤</span></div>
            <span class="right">
                <span>&copy; {{ config.extra.author }} {{ now() | date(format="%Y") }}</span>
            </span>
        </div>
    </footer>
</body>
</html>
