{% extends "base.html" %}

{% block title %}
<title>{{ page.title }} - {{ config.title }}</title>
{% endblock title %}

{% block meta_content %}
<meta property="og:type" content="article">

{% if page.extra.feature_image %}
    {%- set feature_image_url = config.extra.base_domain ~ page.path ~ "image.webp" %}
    <meta name="twitter:image" content="{{ feature_image_url | safe }}">
    <meta property="og:image" content="{{ feature_image_url | safe }}">
    <meta name="twitter:card" content="summary_large_image">
{% else %}
    <meta name="twitter:card" content="summary">
{% endif %}
{% if "footnote-definition" in page.content %}
    <script defer src="{{ get_url(path="javascript/footnotes.js", trailing_slash=false) }}"></script>
{% endif %}
{% endblock meta_content %}

{% block content %}
<article>
    <div class="post_header">
        <h1 class="post_title">{{ page.title }}</h1>
        {% if page.description %}
        <div class="post_description">{{ page.description }}</div>
        {% endif %}
        {% if page.date %}
        <div class="post_metadata">
            <time datetime="{{ page.date | date(format="%Y-%m-%d") }}">{{ page.date | date(format="%Y-%m-%d") }}</time><span class="separator">•</span><span class="readtime">{{ page.reading_time }} min</span>{% if page.updated %}<span class="separator">•</span><span class="meta_container"><span>Updated: </span><time datetime="{{ page.updated | date(format="%Y-%m-%d") }}">{{ page.updated | date(format="%Y-%m-%d") }}</time></span>{% endif %}{% if page.extra.unlisted %}<span class="separator">•</span><span class="unlisted">Unlisted</span>{% endif %}
        </div>
        {% endif %}
    </div>
    {% if page.extra.feature_image %}
        {%- set feature_image = get_image_metadata(path=page.colocated_path ~ "image.webp") %}
        <img src="image.webp" alt="{{ page.title | safe }}" width="{{ feature_image.width }}" height="{{ feature_image.height }}" class="post_image">
    {% endif %}
    <div class="post_body">
        {{ page.content | safe }}
    </div>

</article>
{% endblock content %}
