{% extends "base.html" %}

{% block title %}
<title>{{ page.title }} - {{ config.title }}</title>
{% endblock title %}

{% block meta_content %}
<meta property="og:type" content="article">

{% if page.extra.embed_card_image %}
    <meta property="twitter:image" content="{{config.base_url | safe}}{{ page.extra.embed_card_image }}">
    <meta property="og:image" content="{{config.base_url | safe}}{{ page.extra.embed_card_image }}">
    <meta name="twitter:card" content="summary_large_image">
{% else %}
    <meta name="twitter:card" content="summary">
{% endif %}
{% endblock meta_content %}

{% block content %}
<article>
    <div class="post_header">
        <h1 class="post_title">{{ page.title }}</h1>
        {% if page.date %}
        <label class="post_date_read"><time datetime="{{ page.date | date(format="%+") }}">{{ page.date | date(format="%b %d, %Y") }}</time> • {{ page.reading_time }} minute read</label>
        {% endif %}
        {% if page.extra.unlisted %}
        <br>
        <br>
        <div class="tag_container">
            <span class="tag">Unlisted</span>
        </div>
        {% endif %}
    </div>
    <br>

    {{ page.content | safe }}

</article>
{% endblock content %}
